
<div class="container mt-4">

    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-9">
            <img class="artist-image rounded" src="./assets/images/2.jpg" />

            <div class="mt-4">
            <p>
                อาจารย์เฉลิมชัย โฆษิตพิพัฒน์ (เกิด 15 กุมภาพันธ์ พ.ศ. 2498) เป็นจิตรกรไทยมีผลงานจิตรกรรมไทยหลายผลงาน เช่น ภาพจิตรกรรมไทยในอุโบสถวัดพุทธประทีป กรุงลอนดอน ประเทศอังกฤษ, เขียนภาพประกอบบทพระราชนิพนธ์ พระมหาชนก และผลงานศิลปะที่ วัดร่องขุ่น ซึ่งมีทั้งงานสถาปัตยกรรม, ประติมากรรมปูนปั้น และงานจิตรกรรมไทย ได้รับการยกย่องเป็นศิลปินแห่งชาติ สาขาทัศนศิลป์ (จิตรกรรม) ในปี พ.ศ. 2554
            </p>

            <p>
                อาจารย์เฉลิมชัยเป็นจิตรกรที่มีฝีมือเป็นที่ยอมรับคนหนึ่งของประเทศไทย เป็นชาวหมู่บ้านร่องขุ่น จังหวัดเชียงราย เกิดวันที่ 15 กุมภาพันธ์ พ.ศ. 2498 เป็นบุตรคนที่ 3 ของนายฮั่วชิว แซ่โค้ว ​(ต่อมาเปลี่ยนชื่อเป็นนายไพศาล) และนางพรศรี อยู่สุข​ ทำคลอดด้วยหมอตำแยชื่อยายตุ่น ชีวิตตอนเด็ก ๆ ไม่ตั้งใจเรียน แต่มีความชอบวาดรูป จึงพยายามเข้าเรียนที่เพาะช่างและมหาวิทยาลัยศิลปากร ภาควิชาศิลปไทยรุ่นแรก 2521 เคยได้รับเหรียญทองจากการประกวดผลงานระดับชาติ ในตอนที่เรียนอยู่ตอนปีที่ 4 มีผลงานรูปวาดตามผนังของวัดไทยมากมาย ผลงานปัจจุบัน เฉลิมชัยสร้างวัดร่องขุ่น ซึ่งเป็นวัดบ้านเกิดของเขา ด้วยศิลปะไทยประยุกต์ หรือศิลปะสมัยใหม่
            </p>
            </div>
        </div>
    </div>

</div>


